<ng-content select="header"></ng-content>
<div class="row">
    <div class="col-4">
        <p>Firstname:<input type="text" [(ngModel)]="user.firstname"/></p>
    </div>
    <div class="col-4">
        <p>Lastname:  <input type="text" [(ngModel)]="user.lastname"/></p>
    </div>
    <div class="col-4">
        <p> 
            <!-- <input type="radio" [checked]="user.isWorking"/>Is Working  -->
            <input type="radio" [(ngModel)]="user.isWorking"/>Is Working
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Income: $<input type="number" [(ngModel)]="user.income"/></p>
    </div>
    <div class="col">
        <p>Date of Birth: <span [innerHTML]="user.dob"></span></p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Hobbies: 
            <!-- <select>
            <option value="1">{{user.hobbies[0]}}</option>
            <option value="2">{{user.hobbies[1]}}</option>
            <option value="3">{{user.hobbies[2]}}</option>
            <option value="4">{{user.hobbies[3]}}</option>
        </select> -->
        <input type="checkbox" checked/>{{user.hobbies[0]}}
        <input type="checkbox" checked/>{{user.hobbies[1]}}
        <input type="checkbox" checked/>{{user.hobbies[2]}}
        <input type="checkbox" checked/>{{user.hobbies[3]}}
        </p>
    </div>
    <div class="col">
        <p>
            Votes:   {{user.votes}}
              <!-- <input type="number" [value]="user.votes" (change)="user.votes=$event.target.value"/> -->
              <input type="number" [(ngModel)]="user.votes"/>
              <!-- <input type="number" (change)="changeVotes($event.target)"/> -->
          </p>
    </div>
</div>
    
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                <!-- <button type="button" class="btn btn-success" (click)="onBtnClick();">More Info</button> -->
                <Btn [text]="'More Info'" (btnClick)="onBtnClick()"></Btn>
                <Btn [text]="'One Way'" (btnClick)="onBtnClick()"></Btn>
                <Btn [text]="'Round Trip'" (btnClick)="onBtnClick()"></Btn>
                <Btn [text]="'Multicity'" (btnClick)="onBtnClick()"></Btn>
            </p>
        </div>
    </div>
    <ng-content></ng-content>
    <ng-content select=".main-content"></ng-content>
    <ng-content select="footer"></ng-content>