<div class="container">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <h2 class="text-center">
        Users-App
      </h2>
      <hr>
      <!-- Title: {{title}}
      <br/>
      <input type="text" [(ngModel)]="title"/>
      <br/>
      <button class="btn btn-dark" value="Toggle" (click)="showComp=!showComp">Toggle Comp</button>
      <hr> -->
      <!-- <app-life-cycle-demo *ngIf="showComp" [title]="title"></app-life-cycle-demo> -->
      <!-- <app-users></app-users> -->
      <!-- <app-counter></app-counter> -->
      <!-- <app-directive-demo></app-directive-demo> -->
      <!-- <app-pipe-demo></app-pipe-demo> -->
      <!-- <app-login></app-login> -->
      <!-- <app-register></app-register> -->
      <!-- <app-employee-register></app-employee-register> -->
      <!-- <app-observable-demo></app-observable-demo> -->
      <!-- <app-customoperator-obervable></app-customoperator-obervable> -->
      <!-- <app-observable-operators></app-observable-operators> -->
      <!-- <app-subjects-demo></app-subjects-demo> -->
      <!-- <app-posts></app-posts> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="container text-center">
  <div class="row text-center">
    <div class="col text-center">
      <div class="card">
        <div class="card-header">
          <h4>Notes App</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-10 offset-1 text-center"> 
             <app-notes></app-notes>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
