button{
    border-style: solid;
    border-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: goldenrod;
}
button:hover{
    border-style: solid;
    border-color: maroon;
    background-color: yellow;
    color: maroon;
}